/*
Use http://www.colorzilla.com/gradient-editor/ to easily create your own gradients

Use http://ie.microsoft.com/testdrive/graphics/svggradientbackgroundmaker/default.html to make SVG's
*/

.rover-highlight-text {color:#333;}
.rover-inverse {color:#fff;background: #fcc902;}
.rover-border {border: 1px solid #cdc3b7;}
.rover-border-bottom {border-bottom: 1px solid #DDD;}

.rover-background,
ul.token-input-list li.token-input-token.rover-background {
background: #e6ad26;
}


.rover-button {
border: 1px solid #CCC;
text-decoration: none;
}
.rover-background:hover {
color: #5E5E5E;
background: #EFEFEF!important;
}

.rover-active {
background: #EEE!important;
border: 1px solid #FFA500;
}